/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}
/* :root {
  --bg-color: #fff;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #007f73;
  --bg-color2: #333;
} */
:root {
  --bg-color: #1a1a1a;
  --snd-bg-color: #222;
  --text-color: #f5f5f5;
  --main-color: #00c2a8;
  --bg-color2: #000;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */
header {
  position: fixed;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  width: 100%;
  top: 0;
  padding: 0.5rem;
  transition: all 0.5s ease;
}
.others {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  align-items: center;
  justify-items: space-between;
}
.logo {
  font-family: "Pacifico", cursive; /* Unique font */
  font-weight: bold;
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease;
  animation: slideRight 1s ease forwards;
}

.logo:hover {
  transform: scale(1.2);
}

.navbar a {
  display: inline-block;
  color: var(--text-color);
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(var(--i) * 0.2s);

  opacity: 0;
}

.navbar ul li a:hover {
  color: var(--snd-bg-color);
  font-weight: bold;
}
.others #menu-icon {
  cursor: pointer;
  display: none;
}

#theme-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 2rem;
  transition: 0.3s;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(var(--i) * 0.2s);
  opacity: 0;
}

#theme-toggle:hover {
  transform: scale(1.2);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 6rem 2rem;
  background-color: var(--snd-bg-color);
}

.hero-text {
  padding: 0 2rem;
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.4s;
}
.hero-text h2 {
  font-size: 2rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}
.hero-text .highlighted-name {
  font-size: 45px; /* Slightly bigger */
  color: var(--main-color);
}
.hero-text .cursor {
  display: inline-block;
  margin-left: 2px;
  width: 2px;
  animation: blink 0.7s infinite;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.4s;
}
.cta-button-container {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 1.6s;
}

.cta-button {
  display: inline-block;
  z-index: -10;
  background-color: var(--main-color);
  color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.cta-button:hover {
  transform: scale(1.1);
}
.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 15px var(--main-color);
  animation: floatImage 3s ease-in-out infinite;
  animation-delay: 3s;
  transition: 0.4s ease;
  flex-wrap: wrap;
}

.hero-image img:hover {
  box-shadow: 0 0 15px var(--main-color), 0 0 25px var(--main-color);
  animation: none;
}

.social-icons a {
  display: inline-block;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  color: var(--main-color);
  background: transparent;
  border: 0.2rem solid var(--main-color);
  margin: 3rem 1.5rem 4rem 0;
  border-radius: 10%;
  gap: 10px;
  transition: all 0.5s ease;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(var(--i) * 0.2s);
  opacity: 0;
}

.social-icons a:hover {
  transform: scale(1.2) translateY(-10px);
  color: var(--bg-color);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
/* Sections */
section {
  text-align: center;
  width: 100%; /* Make it span the full viewport width */
  min-height: 100vh;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

/* About */

.about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--snd-bg-color);
  box-shadow: none;
  color: var(--text-color);
  gap: 2rem;
}
.about-img {
  padding: 1rem;
}
.about-img img {
  width: 300px; /* same width and height */
  height: 300px;
  object-fit: cover; /* crop to fit square */
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease;
}
.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}
.about-text {
  padding: 0 2rem;
  text-align: left;
  width: 70%;
}
.about-text p {
  margin-bottom: 2rem;
}

/* Project Grid */

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  overflow: hidden;
  padding: 2rem;
}
.projects {
  padding-top: 5rem;
  justify-content: space-around;
}
.project {
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
}
.project:hover {
  background-color: var(--main-color);
  transform: scale(1.05);
}
.projects h2 {
  text-align: center;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
.project p {
  margin-bottom: 1rem;
}

/* Contact Section */
.contact {
  background: var(--snd-bg-color);
  margin: 0;
  padding: 5rem 2rem;
  box-sizing: border-box;
}

.contact p {
  max-width: 500px;
  margin: 0 auto 1rem;
}
.contact h2 {
  margin-bottom: 2rem;
  color: var(--main-color);
}
.contact form {
  max-width: 80rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 70%;
  padding: 1rem;
  font-size: 1.1rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 0.8rem;
  border: 0.25rem solid var(--main-color);
  margin: 0.7rem 0;
  resize: none;
}
.contact form textarea {
  height: 10rem;
}
.contact form .input-box input {
  width: 34%;
  margin: 0.7rem;
}
.contact form .button .cta-button {
  margin-top: rem;
}
/* Footer */
footer {
  position: relative;
  background-color: var(--bg-color2);
  color: var(--text-color);
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}
footer .social-icons {
  text-align: center;
  color: var(--main-color);
  margin-bottom: 1rem;
}
footer .social-icons a {
  font-size: 25px;
  color: var(--main-color);
  border: 0px solid var(--main-color);
  width: 30px;
  height: 30px;
  line-height: 42px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 10px;
}

/* Animations */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Responsive Design */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .hero {
    padding: 2rem 3%;
  }
  .section {
    padding: 10rem 3%;
  }
  .project-grid {
    padding: 2rem;
    height: 70%;
  }

  .contact form .input-box .input-box {
    width: 100%;
  }
  footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 991px) {
  .others #menu-icon {
    display: none;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -255px; /* hidden initially */
    width: 200;
    min-height: 100vh;
    line-height: 50px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }
  .navbar ul {
    display: flex;
    flex-direction: column; /* stack vertically */
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin: 0; /* remove left margin from desktop */
  }

  .navbar ul li a {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
  }

  .navbar.active {
    right: 0; /* show menu */
  }
  .hero {
    flex-direction: column;
  }
  .hero-text h1 {
    font-size: 5rem;
  }
  .hero-text {
    order: 2;
    margin-left: 1rem;
  }
  .hero-image img {
    width: vw;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .about {
    flex-direction: column;
  }
  .about-img img {
    width: vw;
    margin-top: 4rem;
  }
  .about-img {
    border-radius: 10%;
  }
  .about-text {
    width: 100%;
    justify-content: space-between;
  }
  .projects h2 {
    font-size: 4rem;
  }
}
@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}
